<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MacAceUpdater</string>
	<key>CFBundleGetInfoString</key>
	<string>MacAceUpdater by Kevin Smith. This program is licensed under the GNU GPL.</string>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>uk.co.kismith.mau</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Kevin Smith 2006,2007</string>
	<key>CFBundleInfoDiction.aryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MacAceUpdater</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>MacAceUpdater 0.3-devel</string>
	<key>CFBundleSignature</key>
	<string>MAUP</string>
	<key>CFBundleVersion</key>
	<string>0.3-devel</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<!-- This is for the auto-update framework Sparkle-->
	<key>SUFeedURL</key> 
	<string>http://kismith.co.uk/appcasts/macaceupdater/appcast.xml</string>
		
</dict>
</plist>
